$background: #0D0705;
$body-font: #ffd;

body {
    background-color: $background;
    color: $body-font;
}

.logo {
    display: inline;
    margin-right: 3%;
    img {
	width: 20%;
    }
}

header {
    h2 {
	display: inline;
	color: #3F3333;
        font-size: 3em;
    }
}